<div class="logo-wrapper">
  <div class="ascii-logo">
    <p id="logo-surfboard" class="ascii-logo">&nbsp&nbsp--,----,-^^</p>
  </div>
  <div class="ascii-logo">
    <p class="ascii-logo">&nbsp_____________</p>
  </div>
  <div class="ascii-logo">
    <p class="ascii-logo">( |______| |__\</p>
  </div>
  <div class="ascii-logo">
    <p class="ascii-logo">|=======VW=====;</p>
  </div>
  <div class="ascii-logo">
    <p class="ascii-logo">|______________;</p>
  </div>
  <div class="ascii-logo">
    <p class="ascii-logo">&nbsp&nbsp(+)&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp(x)</p>
  </div>
</div>

<!-- ------------------ Logo Styling ------------------ -->
<style>
  div.ascii-logo {
    font-size: .8em;
    margin: 0;
    line-height: normal;
    font-weight: 600;
  }

  p.ascii-logo {
    margin: 0;
    line-height: normal;
  }

  #logo-surfboard {
    margin-bottom: -1em;
  }


  div.logo-wrapper {
    display:inline-block;
    color: #585858;
  }
</style>